<div class="flex flex-col justify-center items-center w-full mt-5">
  <h3 class="text-2xl font-semibold">{{ "contacto.titulo" | translate }}</h3>
  <p class="mb-4 text-xl">{{ "contacto.desc" | translate }}</p>
  <div class="flex flex-col mb-5">
    <div class="flex">
      <img
        class="w-10 mr-3"
        src="../../../assets/img/bandeja-de-entrada.png"
        alt=""
        srcset=""
      />
      <p class="text-lg">alexandercordoba.dev@gmail.com</p>
    </div>
    <br />
    <div class="flex">
      <img
        class="w-10 mr-3"
        src="../../../assets/img/whatsapp.png"
        alt=""
        srcset=""
      />
      <p class="text-lg">+57 3184083717</p>
    </div>
  </div>
</div>
