@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
.ctn-inicio-contact {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
p {
    font-size: 23px;
}
.ctn-form {
    display: flex;
    width: 80%;
    text-align: center;
    margin: 0 auto;

    padding-bottom: 50px;
    .ctn-img img {
        max-width: 100%;
        width: 400px;
        box-shadow: 0px 0px 24px 4px rgba(0,0,0,0.75);
    }
    .ctn-img {
        margin-top: 80px;
    }
    form {
        width: 70%;
        margin: 0 auto;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.oculto {
    display: none;
}
.error-servidor {
    display: block;
    color: rgb(170, 12, 1);
    font-size: 20px;
    font-weight: 600;
}
.mostrar-mensaje {
    display: block;
    color: rgb(10, 84, 10);
    font-size: 20px;
    font-weight: 600;
}
.invalid-feedback-name,
.invalid-feedback-email,
.invalid-feedback-mesagge {
    color: red;
    font-size: 13px;
    display: block;
}
.ctn-button{
    position: relative;
    width: 75%;
    text-align: center;
    margin-top: 15px;
}
label {
    font-size: 25px;;
    font-family: 'Hubballi', cursive;

}
/*Estilos boton*/
button {
    text-decoration: none;
    position: absolute;
    border: none;
    font-family: 'Hubballi', cursive;
    font-size: 23px;
    color: #fff;
    width: 6em;
    height: 2em;
    line-height: 1em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
   }
   
   button:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   button:hover::before {
    filter: blur(20px);
   }
   
   button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
   }
@media (min-width: 1900px){
    .ctn-form{
        form {
            width: 45%;
        }
    }
}
@media (min-width: 1395px) and (max-width: 1900px) {
    .ctn-form {
        form {
            width: 50%;
        }
    }
    .ctn-form{
        width: 90%;
        margin-top: 30px;
        .ctn-img img {
                width: 425px;
            }
            
        .ctn-img{
            margin-top: 48px;
        }
    }
    .ctn-inicio-contact {
        height: 76vh;
        justify-content: start;
        margin-top: 20px;
    }
}
@media (max-width: 1395px) {
    .ctn-inicio-contact{
        height: 95vh;
    }
    label {
        font-size: 22px;
    }
    .ctn-form {
        padding-bottom: 100px;
        margin-top: 60px;
        .ctn-img{
            margin-top: 15px;
        }
        .ctn-img img {
            width: 385px;
            margin-top: 20px;
        }
    }
}
@media (max-width: 1370px) { 
    .ctn-form {
        form {
            width: 47%;
        }
    }
}
@media (max-width: 1177px) {
    .ctn-form {
        flex-direction: column;
        margin-top: -30px;
        order: 2;
        .ctn-img{
            order: 1;
        }
    }
    
}
@media (min-width: 770px) and (max-width: 993px) {
    form {
        width: 100%;
    }
    .ctn-form {
        margin-top: 10px;
        padding-bottom: 40px;
        .ctn-img{ 
            margin-top: 33px;
        }
        form {
            width: 85%;
            height: 35vh;
            justify-content: start;
        }
    }
    .ctn-button {
        width: 75%;
        margin-bottom: 15px;
    }
    .ctn-inicio-contact {
        height: 85vh;
    }
}

@media (max-width: 600px) {
    .ctn-inicio-contact {
        height: 820px;
        margin-top: 30px;
    }
    p {
        text-align: justify;
    }
    .ctn-form {
        width: 90%;
        padding-bottom: 60px;
        margin-top: 80px;
        form {
            width: 100%;
        }
        .ctn-img {
            margin-top: 40px;
        }
    }
    .ctn-button {
        width: 60%;
        margin-bottom: 90px;
    }
}

@media (max-height: 560px) {
    .ctn-form {
        form {
            height: 65vh;
        }
    }
}