<div class="body-inicio vh-100">
    <div class="ctn-inicio  w-75 d-inline-block">
        <app-menu></app-menu>
        <div class="ctn-time-line">
            <h3>Mi experiencia</h3>
            <p class="txt-description">Conoce un poco mas a detalle mi trayectoria en el mundo de la tecnología y el desarrollo de software</p>
            <section class="horizontal-timeline-container">
                <div class="timeline-block">
                    <div class="timeline-step-counter time-line-step-one">2018</div>
                    <div class="timeline-content">
                    <p>Ponente de idea de emprendimiento en la competencia Hult Prize.</p>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-step-counter time-line-step-five">2019</div>
                    <div class="timeline-content">
                    <p>Lider en el semillero de desarrollo de software de la universidad.</p>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-step-counter time-line-step-two">2019</div>
                    <div class="timeline-content">
                    <p>Frotend Developer angular en Sitis S.A.S desarrollando software hospitalario.</p>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-step-counter time-line-step-three">2020</div>
                    <div class="timeline-content">
                    <p>Graduacion como Ingenerio de sistemas informaticos.</p>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-step-counter time-line-step-four">2021</div>
                    <div class="timeline-content">
                    <p>Fronten Developer angular en Asesoftware en multiples proyectos nacionales e internacionales.</p>
                    </div>
                </div>
               
                <!-- <div class="timeline-block">
                    <div class="timeline-step-counter time-line-step-six">6</div>
                    <div class="timeline-content">
                    <p>Timeline Step Title</p>
                    </div>
                </div> -->
            </section>
        </div>
    </div>
</div>
  