
<div class="ctn-inicio">
    <h3>Trayectoria</h3>
    <p class="txt-description">Conoce un poco mas a detalle mi trayectoria en el mundo de la tecnología y el desarrollo de software</p>
    <section class="horizontal-timeline-container">
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-one">2018</div>
            <div class="timeline-content">
            <p>Ponente de idea de emprendimiento en la competencia Hult Prize.</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-five">2019</div>
            <div class="timeline-content">
            <p>Líder en el semillero de desarrollo de software de la universidad.</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-two">2019</div>
            <div class="timeline-content">
            <p>Frontend Developer angular en Sitis S.A.S desarrollando software hospitalario.</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-three">2020</div>
            <div class="timeline-content">
            <p>Graduación como Ingeniero de sistemas informáticos.</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-four">2021</div>
            <div class="timeline-content">
            <p>Frontend Developer angular en Asesoftware en múltiples proyectos nacionales e internacionales.</p>
            </div>
        </div>
    </section>


    <div id="content">
        <ul class="timeline">
            <li class="timeline-event" data-date="2021">
            <h3 class="timeline-title-event">Frontend Asesoftware S.A.S</h3>
            <p>Frontend Developer angular en Asesoftware en multiples proyectos nacionales e internacionales.</p>
            </li>
            <li class="timeline-event" data-date="2020">
            <h3 class="timeline-title-event">Graduacion universidad</h3>
            <p>Graduacion como Ingenerio de sistemas informaticos.</p>   
            </li>
            <li class="timeline-event" data-date="2019">
            <h3 class="timeline-title-event">Frontend Sitis S.A.S</h3>
            <p>Lider en el semillero de desarrollo de software de la universidad.</p>
            <p>Frontend Developer angular en Sitis S.A.S desarrollando software hospitalario.</p>
            </li>
            <li class="timeline-event" data-date="2018">
            <h3 class="timeline-title-event">Hult Prize</h3>
            <p>Ponente de idea de emprendimiento en la competencia Hult Prize.</p> 
            </li>
        </ul>
    </div>
</div>
  