
$background: #252827;

$color-primary: #4298C3;
$color-light: white;
$spacing: 13px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

$font-title: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

.ctn-inicio {
    position: relative;

    margin: 0 auto;
}
.linea {
    display: none;
}
.ctn-time-line {
    width: 90%;
    margin: 0 auto;
}

.txt-description {
    font-size: 23px;
}
.menu-oculto {
    display: none;
}
.ctn-boton-menu {
    display: none;
  }
.ctn-boton-close {
    height: 30px;
    background: transparent;
    border: none;
    img {
        width: 50px;
    }
}






@media screen and (min-width: 621px){
    .linea {
        display: block;
        position: absolute;
        top: 10%;
        left: 50%;
        width: 2px;
        height: 90%;
        background-color: rgba(57, 57, 57, 0.67);
        
      } 
      .dates-container {
        position: relative;
        height: 100%;
    }
    
    .circulo-2019,
    .circulo-2021,
    .circulo-2022,
    .circulo-2023 {
        position: absolute;
        left: 50%; /* Centrar horizontalmente */
        transform: translate(-50%, -50%); /* Ajustar centrado con 50% de tamaño del contenedor */
        width: 50px; /* Diámetro del círculo */
        height: 50px; /* Diámetro del círculo */
        border-radius: 50%; /* Formar un círculo */
        background-color: rgba(128, 128, 128, 0.953); /* Color del círculo */
        border: 1px solid rgba(57, 57, 57, 0.67);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
    .circulo-2019 {
        top: 10%;
    }
    .circulo-2021 {
        top: 35%;
    }
    .circulo-2022 {
        top: 60%;
    }
    .circulo-2023 {
        top: 85%;
    }
}