
<div class="ctn-inicio">
    <h3>{{"trayectoria.titulo" | translate}}</h3>
    <p class="txt-description">{{"trayectoria.desc" | translate}}</p>
    <section class="horizontal-timeline-container">
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-one">2018</div>
            <div class="timeline-content">
            <p>{{"trayectoria.2018" | translate}}</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-five">2019</div>
            <div class="timeline-content">
            <p>{{"trayectoria.2019" | translate}}</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-two">2019</div>
            <div class="timeline-content">
            <p>{{"trayectoria.2019-2" | translate}}</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-three">2020</div>
            <div class="timeline-content">
            <p>{{"trayectoria.2020" | translate}}</p>
            </div>
        </div>
        <div class="timeline-block">
            <div class="timeline-step-counter time-line-step-four">2021</div>
            <div class="timeline-content">
            <p>{{"trayectoria.2021" | translate}}</p>
            </div>
        </div>
    </section>


    <div id="content">
        <ul class="timeline">
            <li class="timeline-event" data-date="2021">
            <h3 class="timeline-title-event">Frontend Asesoftware S.A.S</h3>
            <p>{{"trayectoria.2021" | translate}}</p>
            </li>
            <li class="timeline-event" data-date="2020">
            <h3 class="timeline-title-event">Graduacion universidad</h3>
            <p>{{"trayectoria.2020" | translate}}</p>   
            </li>
            <li class="timeline-event" data-date="2019">
            <h3 class="timeline-title-event">Frontend Sitis S.A.S</h3>
            <p>{{"trayectoria.2019" | translate}}</p>
            <p>{{"trayectoria.2019-2" | translate}}</p>
            </li>
            <li class="timeline-event" data-date="2018">
            <h3 class="timeline-title-event">Hult Prize</h3>
            <p>{{"trayectoria.2018" | translate}}</p> 
            </li>
        </ul>
    </div>
</div>
  