<header class="header">
    <div class="all">
        <a class="lefter" href="#sobre-mi">
          <div>
            <div class="text">Sobre mi</div>
          </div>
        </a>
        <a class="left" href="#servicios">
          <div>
            <div class="text">Servicios</div>
          </div>
        </a>
        <a class="left2" href="#trabajos">
          <div>
            <div class="text">Trabajos</div>
          </div>
        </a>
        <a class="center" href="#inicio">
          <div class="center">
            <div class="explainer"><span class="txt-menu"><fa-icon class="faMenu" [icon]="faCoffee"></fa-icon>Menu</span></div>
            <div class="text">Inicio</div>
          </div>
        </a>
        <a class="right" href="#trayectoria">
          <div >
            <div class="text">Trayectoria</div>
          </div>
        </a>
        <a class="right2" href="#blog">
          <div >
            <div class="text">Blog</div>
          </div>
        </a>
        <a class="righter" href="#contacto">
          <div>
            <div class="text">Contacto</div>
          </div>
        </a>
        </div>
</header>
