<header class="header">
    <div class="all">
        <a class="lefter" [routerLink] = "['/']" fragment="about">
          <div>
            <div class="text">Sobre mi</div>
          </div>
        </a>
        <a class="left" [routerLink] = "['/']" fragment="services">
          <div>
            <div class="text">Servicios</div>
          </div>
        </a>
        <a class="left2" [routerLink] = "['/']" fragment="projects">
          <div>
            <div class="text">Trabajos</div>
          </div>
        </a>
        <a class="center" [routerLink] = "['/']" fragment="home">
          <div class="center">
            <div class="explainer"><span class="txt-menu"><fa-icon class="faMenu" [icon]="faCoffee"></fa-icon>Menu</span></div>
            <div class="text">Inicio</div>
          </div>
        </a>
        <a class="right" [routerLink] = "['/']" fragment="timeline">
          <div >
            <div class="text">Trayectoria</div>
          </div>
        </a>
        <a class="righter" [routerLink] = "['/']" fragment="contact">
          <div>
            <div class="text">Contacto</div>
          </div>
        </a>
        </div>
</header>
