@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
.ctn-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
p{
    font-weight: bold;
}

.ctn-img-logo {
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 60px;
    margin-right: 10px;
}

.logo:hover {
    transform: scale(1.1) rotate(7deg);
    transition-duration: 0.3s;
}

