<div class="ctn-logo">
    <h3 class="sub-title">Mis habilidades</h3>
    <div class="ctn-skills">
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icon-firebase.png" alt="Firebase" >
            <p>Firebase</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-angular.png" alt="Angular" >
            <p>Angular</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-boostrap.png" alt="Boostrap" >
            <p>Boostrap</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-css.png" alt="CSS" >
            <p>CSS</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-debian.png" alt="Linux" >
            <p>Linux</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-html.png" alt="HTML" >
            <p>HTML</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-js.png" alt="Javascript" >
            <p>Javascript</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-ts.png" alt="Typescript" >
            <p>Typescript</p>
        </div>    
    </div>
    <h3 class="sub-title">Aprendiendo...</h3>
    <div class="ctn-learning">
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-python.png" alt="Python" >
            <p>Python</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-node.png" alt="Node" >
            <p>Node.js</p>
        </div>
        <div class="ctn-img-logo">
            <img class="logo" src="../../../assets/img/icono-flutter.png" alt="Flutter" >
            <p>Flutter</p>
        </div>
    </div>
    
    
            
    
</div>
