<div class="ctn-inicio">
    <div class="container ctn-info-page">
        <div class="row align-items-center ctn-info-page-inicio">
            <div class="col" >
                <div class="ctn-info-page__texto ctn-texto">
                    <div class="ctn-info-page__redes">
                        <a target="_blank" href="https://www.linkedin.com/in/jorge-alexander-astaiza-cordoba-126671173/">
                            <img title="Linkedin" src="../../../assets/img/linkedin.png" alt="">
                        </a>
                        <a target="_blank" href="https://twitter.com/AlexCordobaInc">
                            <img title="Twitter" src="../../../assets/img/twitter.png" alt="">
                        </a>
                        <a target="_blank" href="https://www.instagram.com/alex_cordoba___/">
                            <img title="Instagram" src="../../../assets/img/instagram.png" alt="">
                        </a>
                        <a target="_blank" href="https://medium.com/@alexandercordoba.dev">
                            <img title="Blog" src="../../../assets/img/blog.png" alt="">
                        </a>
                        <a class="btn-cv" target="_blank" href="../../../assets/cv/currículum_Jorge_Astaiza_I.pdf" target="_blank" download="curriculum.pdf">
                            <img title="Curriculum" src="../../../assets/img/cv.png" alt="">
                        </a>
                    </div>
                    <h2 class="ctn-info-page__title">Jorge Alexander Córdoba</h2>

                    <div class="content">
                        <div class="content__container">
                          <ul class="content__container__list">
                            <li class="content__container__list__item">Frontend Developer...</li>
                            <li class="content__container__list__item">Angular Developer...</li>
                            <li class="content__container__list__item">Mobile Developer...</li>
                            <li class="content__container__list__item">Forever Student <ngx-emoji size:16 emoji=":brain::skin-tone-3:" ></ngx-emoji></li>
                          </ul>
                        </div>
                    </div>

                    <p class="txt-description">{{ "inicio.descripcion" | translate}}</p>
                    
                </div>
            </div>
            <div class="col align-self-center ctn-img-inicio" >
                <select class="form-select ctn-img-inicio__idioma" aria-label="Default select example">
                    <option value="1" > &#xf042; </option>
                    <option value="2"> &emsp;</option>
                  </select>
                <img class="img-avatar" src="../../../assets/img/avatar2.png" alt="Me">
            </div>
        </div>
    </div>
    <div class="ctn-animation-scroll">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <span class="text-scroll">Scroll down</span>
    </div>
</div>
