<div class="body-inicio vh-100">
    <div class="ctn-inicio  w-75 d-inline-block">
        <app-menu></app-menu>
        <div class="container ctn-txt-img">
            <div class="row align-items-center">
                <div class="col" >
                    <div class="ctn-texto">
                        <h2>Jorge Alexander Córdoba</h2>

                        <div class="content">
                            <div class="content__container">
                              <ul class="content__container__list">
                                <li class="content__container__list__item">Frontend Developer...</li>
                                <li class="content__container__list__item">Angular Developer...</li>
                                <li class="content__container__list__item">Mobile Developer...</li>
                                <li class="content__container__list__item">Forever Student <ngx-emoji size:16 emoji=":brain::skin-tone-3:" ></ngx-emoji></li>
                              </ul>
                            </div>
                        </div>

                        <p class="txt-description">Hola! Soy un desarrollador de software apasionado a la tecnología con una amplia experiencia en la construccion de aplicaciones web modernas.</p>
                        
                    </div>
                </div>
                <div class="col align-self-center" >
                    <img class="img-avatar" src="../../../assets/img/avatar2.png" alt="Me">
                </div>
            </div>
        </div>
        <div class="ctn-animation-scroll">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
          <span class="text-scroll">Scroll down</span>
        </div>
    </div>
</div>