@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import "~swiper/css";
@import "~swiper/css/effect-creative";

.txt-descripcion {
  font-size: 23px;
}
.ctn-swiper {
  overflow: hidden;
}

.ctn-carousel {
    width: 70%;
}

button {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
ngx-emoji {
    padding-top: 5px;
}

