<div class="body-inicio vh-100">
    
    <div style="position: absolute; z-index: 2;">
        <div class="ctn-boton-menu">
            <button (click)="toggleMenu()">
                <img class="icon-logo" src="../../../assets/img/menu-lateral.png" alt="" srcset="">
            </button>
        </div>
        <div [ngClass]="{'menu': flag, 'menu-oculto': !flag}" id="toggle-menu">

            <div style="display: flex; justify-content: space-between;">
    
                <ul>
                    <li> 
                        <a (click)="toggleMenu()" href="#inicio">Inicio</a> 
                    </li>
                    <li>
                        <a (click)="toggleMenu()" href="#sobre-mi">Sobre mi</a> 
                    </li>
                    <li>
                        <a (click)="toggleMenu()" href="#servicios">Mis servicios</a>
                    </li>
                    <li>
                        <a (click)="toggleMenu()" href="#trabajos">Trabajos</a> 
                    </li>
                    <li> 
                        <a (click)="toggleMenu()" href="#trayectoria">Trayectoria</a> 
                    </li>
                    <li> 
                        <a (click)="toggleMenu()" href="#blog">Blog</a> 
                    </li>
                    <li> 
                        <a (click)="toggleMenu()" href="#contacto">Contacto</a> 
                    </li>
                </ul>
                <button class="ctn-boton-close" (click)="toggleMenu()">
                    <img src="../../../assets/img/icono-close.png" alt="" srcset="">
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
