<div class="body-inicio vh-100">
    <app-menu style="position: fixed; z-index: 5;"></app-menu>
    <div style="position: absolute; z-index: 2;">
        <div class="ctn-boton-menu">
            <button (click)="toggleMenu()">
                <img class="icon-logo" src="../../../assets/img/menu-lateral.png" alt="" srcset="">
            </button>
        </div>
        <div [ngClass]="{'menu': flag, 'menu-oculto': !flag}" id="toggle-menu">

            <div style="display: flex; justify-content: space-between;">
    
                <ul>
                    <li> 
                        <a (click)="toggleMenu()"[routerLink] = "['/']" fragment="home">Inicio</a> 
                    </li>
                    <li>
                        <a (click)="toggleMenu()" [routerLink] = "['/']" fragment="about">Sobre mi</a> 
                    </li>
                    <li>
                        <a (click)="toggleMenu()" [routerLink] = "['/']" fragment="services">Mis servicios</a>
                    </li>
                    <li>
                        <a (click)="toggleMenu()" [routerLink] = "['/']" fragment="timeline">Trayectoria</a> 
                    </li>
                    <li> 
                        <a (click)="toggleMenu()" [routerLink] = "['/']" fragment="projects">Trabajos</a> 
                    </li>
                    <li> 
                        <a (click)="toggleMenu()" [routerLink] = "['/']" fragment="contact">Contacto</a> 
                    </li>
                </ul>
                <button class="ctn-boton-close" (click)="toggleMenu()">
                    <img src="../../../assets/img/icono-close.png" alt="" srcset="">
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
