<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Aristos Soluciones">
      
      <div class="card-body">
        <h5 class="card-title">Aristos Soluciones S.A.S</h5>
        <p class="card-text">Empresa colombiana con diferentes lineas de negocio como gerencia de proyectos y gestíon de recursos humanos.</p>
        <div class="ctn-button-projects">
          <a href="#" class="swiper__button">Demo</a>
          <a href="https://github.com/JorgeAstaiza/AristosSoluciones" target="_blank" class="swiper__button">Github</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1509785307050-d4066910ec1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1028&q=80" alt="SERCOR">
      <div class="card-body">
        <h5 class="card-title">SERCOR</h5>
        <p class="card-text">Emprendimiento colombiano para la recolección agrícola.</p>
        <div class="ctn-button-projects">
          <a href="https://sercoresahi.com/" target="_blank" class="swiper__button">Demo</a>
          <a href="https://github.com/JorgeAstaiza/sercor" target="_blank" class="swiper__button">Github</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1528629297340-d1d466945dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1522&q=80" alt="Biclapp">
      <div class="card-body">
        <h5 class="card-title">Biclapp</h5>
        <p class="card-text">Aplicacion web para el control de ingreso y salidas de bicicletas para la universidad Autonoma del Cauca.  </p>
        <div class="ctn-button-projects">
          <a href="https://github.com/JorgeAstaiza/backend-biclApp" target="_blank" class="swiper__button">Github</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1558640476-437a2b9438a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1642&q=80" alt="Clean World">
      <div class="card-body">
        <h5 class="card-title">Clean World</h5>
        <p class="card-text">Estrategia de educacion didáctica para enseñar a separar los residuos sólidos aprovechables en el hogar.</p>
        <div class="ctn-button-projects">
          <a href="https://github.com/JorgeAstaiza/clean-world" target="_blank" class="swiper__button">Github</a>
        </div>
      </div>
    </div>
  </div>