@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

.ctn-inicio-about {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    height: 80vh;
}
.ctn-boton-menu {
    display: none;
  }
.ctn-page-about__img {
    max-width: 100%;
    width: 500px;
    margin-top: 30px;
    border-radius: 25px;
}
.ctn-page-about__text {
    margin-top: 130px;
}

.ctn-page-about__txt-description {
    font-family: 'Hubballi', cursive;
    font-size: 25px;
    line-height: 25px;
    text-align: justify;
}

.title-me {
    text-align: left;
    color: #3a3a3a;
}
.line-bottom {
    border-bottom: 5px solid #3a3a3a;
    width: 50px;
}
.ctn-boton-close {
    height: 30px;
    background: transparent;
    border: none;
    img {
        width: 50px;
    }
}
.menu-oculto {
    display: none;
}
@media (max-width: 1400px) {
    .ctn-inicio-about {
        height: 115vh;
        justify-content: start;
    }
}

@media (max-width: 1000px) {
    app-menu {
      display: none;
    }
    .body-inicio{
        display: block;
    }
    a {
        text-decoration: none;
        color:black;
    }
    .icon-logo {
        width: 60px;
    }
    .ctn-inicio {
        width: 90% !important;
    }
    .ctn-boton-menu{
        display: block;
        text-align: initial;
        margin-left: 10px;
        button {
            background: transparent;
            border: none;
        }
    }
    .menu {
        background-color: rgba(109, 109, 109, 0.905);
        width: 280px;
        position: fixed;
        z-index: 1;
        height: 90vh;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        overflow: hidden;
        top: 107%;
        transition-duration: .5s;
        ul {
            overflow: hidden;
            list-style: none;
            width: 100%;
            margin-top: 40px;
            li {
                padding: 20px 0;
                margin: 10px 0;
                border-left: 3px solid rgb(68, 68, 68);
                font-family: 'Hubballi', cursive;
                font-size: 25px;
            }
        }
    }
    .menu-oculto {
        background-color: rgba(109, 109, 109, 0.905);
        width: 0;
        position: fixed;
        z-index: 1;
        height: 70vh;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        overflow: hidden;
        margin-top: -65px;
        transition-duration: .5s;

        ul {
            overflow: hidden;
            list-style: none;
            width: 200px;
            margin-top: 40px;
            li {
                padding: 20px 0;
                margin: 10px 0;
                border-left: 3px solid rgb(68, 68, 68);
            }
        }
    }
  }
@media (min-width: 500px) and (max-width: 1400px) {
    .ctn-page-about__img {
        width: 80%;
    }
    .ctn-page-about__text {
        margin-top: 0;
    }
    .ctn-inicio {
        width: 90% !important;
        margin-top: 40px;
    }
}
@media (max-width: 1370px) {
    .ctn-inicio-about {
        height: 96vh;
    }
    
}
@media (min-width: 992px) and (max-width: 1900px) { 
    .ctn-page-about__img{
        width: 440px;
    }
    .ctn-page-about__text {
        margin-top: 75px;
    }
}
@media (max-width: 992px) {
    .ctn-page-about {
        display: flex;
        flex-direction: column;
        &__img {
            max-width: 33%;
        }
        &__title {
            margin-top: 15px;
        }
        &__txt-description{
            font-size: 23px;
            padding: 0 0;
        }
    }
    .ctn-page-about__text {
        margin-top: 0;
    }

}
@media (min-width: 650px) and (max-width: 850px) {
    .ctn-inicio-about {
        height: 70vh;
    }
    .ctn-page-about__img {
        max-width: 40%
    }
}
@media (max-width: 600px) {
    .ctn-inicio-about {
        width: 100%;
        height: 800px;
    }
    app-menu {
        display: none;
    }
    .icon-logo {
        width: 45px;
    }
    .ctn-page-about__img {
        max-width: 55%;
    }
    .ctn-page-about__title {
        font-size: 17px;
    }
    .ctn-page-about__txt-description {
        font-size: 20px;
        padding: 0 13px;
    }
    .line-bottom {
        border-bottom: 3px solid #6d6d6d;
    }
   
    br {
        display: none;
    }
   
    .ctn-boton-menu{
        display: block;
        text-align: initial;
        margin-left: 10px;
        button {
            background: transparent;
            border: none;
        }
    }
    .menu {
        background-color: rgba(109, 109, 109, 0.905);
        width: 280px;
        position: fixed;
        z-index: 1;
        height: 90vh;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        overflow: hidden;
        top: 122%;
        transition-duration: .5s;
        ul {
            overflow: hidden;
            list-style: none;
            width: 200px;
            margin-top: 40px;
            li {
                padding: 20px 0;
                margin: 10px 0;
                border-left: 3px solid rgb(68, 68, 68);
            }
        }
    }
    .menu-oculto {
        width: 0;
    }
}

@media (max-height: 560px) {
    .ctn-inicio-about {
        height: 870px
    }
}